<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003"><PropertyGroup><CFUser>ning.liu4@hp.com</CFUser><CFPassword /><CFSavedPassword>true</CFSavedPassword><CFRefreshToken /><CFServerUri>https://api.15.126.130.219.xip.io/</CFServerUri><CFAppName>ContosoUniversity</CFAppName><CFOrganization>SSIT</CFOrganization><CFSpace>Development</CFSpace><CFAppMemory>512</CFAppMemory><CFAppInstances>1</CFAppInstances><CFStack>win2012r2</CFStack><CFRoutes>contosouniversity-dotnet-deployment.15.126.130.219.xip.io</CFRoutes><CFServices /><CFConfigurationFile /><DeployTargetFile>.\packages\cf-msbuild-tasks.1.2.0.9\build\cf-msbuild-tasks.targets</DeployTargetFile><CFLocalBuild>true</CFLocalBuild><WebPublishMethod>CloudFoundry</WebPublishMethod><CFMSBuildConfiguration>Debug</CFMSBuildConfiguration><CFMSBuildPlatform>Any CPU</CFMSBuildPlatform><CFSkipSSLValidation>true</CFSkipSSLValidation></PropertyGroup></Project>